body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(134, 171, 209);
    color: rgb(24, 24, 24);
}

nav{
 text-align: center;
    font-size: large;
    
    
    color: rgb(216, 216, 216);
    float: left;

    border: 2px solid darkorange;
    border-radius: 20px;
    padding: 3%;
}

img{
    border: 2px solid darkorange;
    border-radius: 10px;
    padding: 1%;
    display: auto;
    margin: auto;
}
.button{
    text-decoration: none;
    border: 2px solid darkorange;
    color: rgb(24, 24, 24);
    background-color: rgba(86, 131, 175, 0.288);
    padding: 3%;
    box-shadow: 5px 5px 5px ;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
