body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(134, 171, 209);
    color: rgb(24, 24, 24);
}
form{
    text-align: center;
    font-size: large;
}
nav{
    
    text-align: center;
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(36, 83, 129, 0.384);
    color: rgb(216, 216, 216);
    float: left;
    padding: 25px;
}
.button{
    text-decoration: none;
    border: 2px solid red;
    color: maroon;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(134, 171, 209);
    box-shadow: 5px 5px 5px;
}